.hidden {
  display: none;
}

.how-to-section {
  padding: 7px 0px;
  border-bottom: solid 1px grey;
}

.wide-modal {
  .modal-dialog {
    max-width: 910px;
  }
}

.help-btn {
  top: 84px;
  position: fixed;
  z-index: 51;
}
