<div class="container">
    <form action="">
      <div class="custom-control custom-radio">
        <input class="custom-control-input"
               type="radio"
               name="animation"
               id="spin">
        <label class="custom-control-label"
               for="customRadio1">Toggle this custom radio</label>
      </div>
    
      <div class="custom-control custom-radio">
        <input class="custom-control-input"
               type="radio"
               name="animation"
               id="zoom">
        <label class="custom-control-label"
               for="customRadio1">Toggle this custom radio</label>
      </div>
    
      <div class="custom-control custom-radio">
        <input class="custom-control-input"
               type="radio"
               name="animation"
               id="pulse">
        <label class="custom-control-label"
               for="customRadio1">Toggle this custom radio</label>
      </div>
    </form>
</div>
