<div id="animations"
     class="container"
     [class.hidden]="visible">
  <h3>Animations</h3>
  <div class="row">
    <ng-container *ngFor="let animation of animObs">
      <div class="custom-control custom-checkbox col">
        <input class="custom-control-input"
               type="checkbox"
               name="animation"
               id="{{animation.name}}"
               (click)="addAnimation(animation.name)"
               [checked]="activeAnimations.indexOf(animation.name) >= 0">
        <label class="custom-control-label"
               (click)="addAnimation(animation.name)"
               for="animation">{{animation.name}}</label>

        <div *ngIf="activeAnimations.indexOf(animation.name) >= 0"
             id="{{animation.name}}-anim">
          <h5>{{animation.name}} Settings</h5>
          <div class="form-group">
            <label for="">Duration</label>
            <input type="number"
                   class="form-control"
                   name="spin-dur"
                   id="spin-dur"
                   aria-describedby="helpId"
                   placeholder=""
                   (change)="updateAnimation()"
                   [(ngModel)]="animation.duration">
          </div>
          <div class="form-group">
            <label for="">Timing</label>
            <select class="form-control"
                    name="spin-timing"
                    id="spin-timing"
                    aria-describedby="spin-delay"
                    (change)="updateAnimation()"
                    [(ngModel)]="animation.timing">
              <option *ngFor="let opt of easeOptions"
                      value="{{trimString(opt)}}">{{opt}}</option>
            </select>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
