<div class="container"
     [class.hidden]="visible">
  <div [style]="{'background':sliderGradient}"
       (click)="addPoint($event)"
       id="stopper"
       #stopperEl>
    <ng-container *ngIf="stopperInited">
      <app-stopper-point (PercentageChange)="percentChange($event)"
                         (SelectPoint)="changeCurStopper($event)"
                         (RemovePoint)="removePoint($event)"
                         *ngFor="let point of stopper.points"
                         #point
                         [stopper]="stopper"
                         [stopperPoint]="point"></app-stopper-point>
    </ng-container>
  </div>
  <div class="gradient-info">
    <div class="container"
         *ngIf="curPoint != undefined">
      <div class="row">
        <div class="col-md-3">
          <h3>Gradient Type</h3>
          <div class="custom-control custom-radio"
               *ngFor="let style of gradientStyles">
            <input class="custom-control-input"
                   type="radio"
                   name="animation"
                   id="{{style}}"
                   [checked]="curGradientStyle == style"
                   (click)="setGradientStyle(style)">
            <label class="custom-control-label"
                   for="animation"
                   (click)="setGradientStyle(style)">{{style}}</label>
          </div>
        </div>
        <div class="col-md-5">
          <h3>
            Color Picker
          </h3>
          <div class="color-picker">
            <input ejs-colorpicker
                   [showButtons]="false"
                   (change)="changeColor($event)"
                   [inline]="true"
                   type="color"
                   [value]="rgba2hex(curColor)"
                   id="colorpicker" />
          </div>
        </div>
        <div class="col-md-4">
          <ng-container *ngIf="curGradientStyle == 'linear-gradient' || curGradientStyle == 'conic-gradient'">
            <h3>Angle</h3>
            <div class="gauge-container">
              <ejs-circulargauge style="width:175px; height:175px;"
                                 id="circular-container"
                                 enablePointerDrag=true
                                 (dragEnd)="changeAngle($event)">
                <e-axes>
                  <e-axis [majorTicks]="majorTicks"
                          [minorTicks]="minorTicks"
                          [labelStyle]="labelStyle"
                          minimum=0
                          maximum=360
                          startAngle=0
                          endAngle=360>
                    <e-ranges>
                      <e-range start=0
                               end=360
                               startWidth=3
                               endWidth=3
                               color="#ccc">
                      </e-range>
                    </e-ranges>
                    <e-pointers>
                      <e-pointer type="Marker"
                                 [animation]="animation"
                                 color="white"
                                 [border]="{color: '#1695df', width: 2}"
                                 markerShape="Circle"
                                 radius="77%"
                                 [value]="angle"
                                 [markerHeight]="9"
                                 [markerWidth]="9"></e-pointer>
                    </e-pointers>
                  </e-axis>
                </e-axes>
              </ejs-circulargauge>
              <input type="number"
                     min="0"
                     max="360"
                     name="angle"
                     id="angle"
                     [(ngModel)]="angle"
                     (change)="checkGaugeChange($event)">
            </div>
          </ng-container>
          <ng-container *ngIf="curGradientStyle == 'radial-gradient' || curGradientStyle == 'conic-gradient'">
            <h3>Mid Point</h3>
            <div class="row">
              <div class="col-6 form-group">
                <label for="">Midpoint X-axis</label>
                <input type="number"
                       class="form-control"
                       name="midX"
                       id="midX"
                       (change)="generateGradient()"
                       [(ngModel)]="midpoint.x">
              </div>
              <div class="col-6 form-group">
                <label for="">Midpoint Y-axis</label>
                <input type="number"
                       class="form-control"
                       name="midY"
                       id="midY"
                       (change)="generateGradient()"
                       [(ngModel)]="midpoint.y">
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </div>
</div>
