/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-popups/styles/material.css";
@import "../node_modules/@syncfusion/ej2-splitbuttons/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";

.e-colorpicker-wrapper {
  width: 100%;

  .e-container {
    width: 100%;
  }
}

html,
body {
  width: 100vw;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: transparent;
  overflow-x: hidden;
}

.nue {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  // transition: 0.3s;
  background-color: white;
  border-radius: 14px;
  margin-top: 42px;
  margin-bottom: 42px;
  padding: 21px;
}


@keyframes blur {
  0% {
    filter: blur(0);
  }

  50% {
    filter: blur(11px);
  }

  100% {
    filter: blur(0);
  }
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

@keyframes pulse {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);

  }

  100% {
    transform: scale(0.9);
  }

  // 0% {
  //   transform: translate(-50%, -50%) scale(0.7);
  // }

  // 50% {
  //   transform: translate(-50%, -50%) scale(1);

  // }

  // 100% {
  //   transform: translate(-50%, -50%) scale(0.7);
  // }
}

@keyframes wave {}


@keyframes hue {
  from {
    filter: hue-rotate(0deg);
  }

  to {
    filter: hue-rotate(360deg);
  }
}
