<app-nav></app-nav>
<div class="container">
  <div id="how-to-use"
       class="nue"
       [class.hidden]="!infoVisible">
    <h3>How to use the Border Builder</h3>
    <p>Use the inputs under the "Scene settings" to set the resolution
      to the size of your webcam or scene for that matter, this is strictly for preview purposes, I recommend just
      keeping the aspect
      ratio.
    </p>
    <p>Use the Border effects section to adjust the static look of the border.</p>
    <p>Simply create your gradient by adding stop points and choosing their colors. Also choose the gradient type.
    </p>
    <p>Use the animation section to bring your background to life.</p>
    <p>I encourage you to play around with all the settings to get a really unique webcam. Enjoy!</p>
    <p>When you're done, simply click the text that says click to copy to get the url to paste as a browser source url
      in obs! I recommend setting the width and height in obs's browser source settings to the same as the values you
      set up under the webcam settings section. That's it, you're done!</p>
    <p><b>Please note:</b> this isn't strictly for webcam purposes, the border can be added to any scene your heart
      desires. More functionality will be coming soon. Join <a href="https://discord.gg/mftyksJ"
         target="_blank">my discord</a> for any questions or to leave some feedback or suggestions!</p>
    <button (click)="hideInfo()"
            class="btn btn-info">Hide this help</button>
  </div>
</div>
<div class="container">
  <div class="row nue">
    <div class="col-md-5 scroll-settings">
      <div class="settings">
        <h3>Scene size</h3>
        <div class="row">
          <div class="col-6 form-group">
            <label for="">Width</label>
            <input type="number"
                   class="form-control"
                   name="width"
                   id="width"
                   aria-describedby="helpId"
                   (change)="calculateSize()"
                   [(ngModel)]="width">
          </div>
          <div class="col-6 form-group">
            <label for="">Height</label>
            <input type="number"
                   class="form-control"
                   name="width"
                   id="width"
                   (change)="calculateSize()"
                   aria-describedby="helpId"
                   placeholder=""
                   [(ngModel)]="height">
          </div>
        </div>
      </div>
      <div class="effects">
        <h3>Effects</h3>
        <div class="row">
          <div class="form-group col-6">
            <label for="">Border Radius</label>
            <input type="number"
                   class="form-control"
                   name="radius"
                   id="radius"
                   placeholder=""
                   [(ngModel)]="radius">
          </div>
          <div class="form-group col-6">
            <label for="">Blur</label>
            <input type="number"
                   class="form-control"
                   name="bluref"
                   id="bluref"
                   placeholder=""
                   [(ngModel)]="blur">
          </div>
        </div>
      </div>
      <app-animation (UpdateAnimation)="PreviewAnim($event)"></app-animation>
    </div>
    <div class="col-md-7">
      <div id="preview">
        <h3>Preview</h3>
        <div #outerBorder
             id="outer-border"
             class="border-container"
             [style]="{'border-radius':radius+'px',
              'filter':'blur('+blur+'px)',
              'animation': outerAnim,
              'width':  width/4+'px',        
              'height': height/4+'px'}">
          <div *ngIf="gradient.indexOf('radial')>=0"
               #circleCenter
               id="circle-center"
               cdkDragBoundary="#outer-border"
               cdkDrag
               (cdkDragMoved)="moveCenter($event)">
            <div class="inner-circle"></div>
          </div>
          <div class="border"
               [style]="{ 'background': gradient,
               'animation': innerAnim,
               'width':  inWidth/4+'px',        
               'height': inHeight/4+'px' }">
          </div>
        </div>
        <div class="form-group url">
          <label for="url"
                 (click)="copyToClipboard()">Browsersource Url (click to copy)</label>
          <input id="url"
                 name="url"
                 type="text"
                 class="form-control"
                 disabled
                 [value]="url"
                 (select)="copyToClipboard()">
        </div>
      </div>
    </div>
  </div>
</div>
<app-stopper [midpoint]="midpoint"
             (UpdateGradient)="PreviewGradient($event)"></app-stopper>
